provisionDataStore:
  cassandra: false
allInOne:
  enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 10Mi
    limits:
      memory: 512Mi
agent:
  enabled: false
collector:
  enabled: false
query:
  enabled: false
