---
- name: Katman 0 - K3s Temizliği (Yıkım)
  hosts: k3s_nodes
  become: yes
  tasks:
    - name: K3s uninstall scriptini çalıştır (Eğer kuruluysa)
      shell: /usr/local/bin/k3s-uninstall.sh
      ignore_errors: yes

    - name: Eski K3s ve Kubernetes artıklarını tamamen sil
      shell: rm -rf /etc/rancher /var/lib/rancher /var/lib/kubelet /var/lib/cni /etc/cni
      ignore_errors: yes

- name: Katman 0 - Çıplak K3s Kurulumu
  hosts: k3s_nodes
  become: yes
  tasks:
    - name: K3s yükleme scriptini indir ve CNI olmadan çalıştır
      shell: >
        curl -sfL https://get.k3s.io | sh -s - server 
        --tls-san 192.168.56.10 
        --disable traefik 
        --disable servicelb 
        --flannel-backend=none 
        --disable-network-policy
        --write-kubeconfig-mode 644

    - name: Kubeconfig dosyasını host makineye çek
      fetch:
        src: /etc/rancher/k3s/k3s.yaml
        dest: ../k3s.yaml
        flat: yes

- name: Local Kubeconfig Ayarı
  hosts: localhost
  connection: local
  vars:
    ansible_python_interpreter: python3
  tasks:
    - name: IP adresini düzelt (127.0.0.1 -> 192.168.56.10)
      replace:
        path: ../k3s.yaml
        regexp: '127.0.0.1'
        replace: '192.168.56.10'
