version: '3'
services:
  order-service:
    build: ../order-service
    ports:
      - "8000:8000"
      - "9090:9090"
    networks:
      - dapr-net
    depends_on:
      - redis

  order-service-dapr:
    image: "daprio/daprd:1.12.0"  
    command: [
      "./daprd",
      "-app-id", "order-service",
      "-app-port", "8000",
      "-dapr-http-port", "3500",
      "-components-path", "/components"
    ]
    volumes:
      - ./components:/components
    network_mode: "service:order-service"
    depends_on:
      - order-service

  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"
    networks:
      - dapr-net
  inventory-service:
    build: ../inventory-service
    ports:
      - "6000:6000"
      - "3501:3501"
    networks:
      - dapr-net
    depends_on:
      - redis

  inventory-service-dapr:
    image: "daprio/daprd:1.12.0"
    command: [
      "./daprd",
      "-app-id", "inventory-service",
      "-app-port", "6000",
      "-dapr-http-port", "3501",
      "-components-path", "/components"
    ]
    volumes:
      - ./components:/components
    network_mode: "service:inventory-service"
    depends_on:
      - inventory-service
  payment-service:
    build: ../payment-service
    ports:
      - "5000:5000"
      - "3502:3502"
    networks:
      - dapr-net
    depends_on:
      - redis

  payment-service-dapr:
    image: "daprio/daprd:1.12.0"
    command: [
      "./daprd",
      "-app-id", "payment-service",
      "-app-port", "5000",
      "-dapr-http-port", "3502",
      "-components-path", "/components"
    ]
    volumes:
      - ./components:/components
    network_mode: "service:payment-service"
    depends_on:
      - payment-service
networks:
  dapr-net:
